header {
  padding: 0 48px;
  font-size: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px #21201826;
  justify-content: center;
}

header .header-content {
  max-width: 1920px;
  height: 112px;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

header .header-content a img {
  height: 80px;
}

header .header-content nav {
  display: flex;
  gap: 24px;
  font-weight: 500;
  align-self: flex-end;
}

header .header-content nav a {
  position: relative;
  color: #000;
  padding-bottom: 8px;
  text-decoration: none;
  transition: color 0.3s ease;
}

header .header-content nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #008800;
  transition: width 0.3s ease;
}

header .header-content nav a:hover {
  color: #008000;
}

header .header-content nav a:hover::after {
  width: 100%;
}

header .header-content .mobile {
  height: 30px;
  width: 30px;
  border: 5px solid white;
  border-radius: 35px;
  display: none;
}

header .header-content .mobile-div {
  display: none;
  font-size: 30px;
  background-color: #008000;
  color: white;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 225ms ease-in-out;
}

header .header-content .mobile-show {
  visibility: visible;
  opacity: 1;
}

header .header-content .mobile-content {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

header .header-content .mobil-link {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
}

header .header-content .x {
  width: 48px;
  height: 48px;
  padding-left: 165px;
}

@media (max-width: 1060px) {
  header {
    justify-content: space-around;
  }
  header .header-content .hide-mobile {
    display: none;
  }

  header .header-content .mobile {
    display: block;
  }

  header .header-content .mobile-div {
    display: block;
  }
}

@media (max-width: 840px) {
  header {
    padding: 0 24px;
  }
}

@media (max-width: 600px) {
  header .header-content a img {
    height: 70px;
  }
}
