<div class="footer-content">
  <div class="sozial-media">
    <a href="https://www.facebook.com"
      ><img src="/projects/german-cuisine/assets/img/social/facebook_logo.png" alt="Facebook"
    /></a>
    <a href="https://www.instagram.com"
      ><img src="/projects/german-cuisine/assets/img/social/instagrram_logo.png" alt="Instagram"
    /></a>
    <a href="https://www.tripadvisor.com"
      ><img src="/projects/german-cuisine/assets/img/social/tripadvisor_logo.png" alt="Tripadvisor"
    /></a>
  </div>
    <a class="data-protection" href="/projects/german-cuisine/pages/privacy-policy.html">Privacy Policy</a>
</div>
