<div class="header-content">
  <a href="../index.html">
    <img src="../assets/img/icons/logo.png" />
  </a>
  <nav id="nav">
    <a class="start hide-mobile" href="../index.html">Home</a>
    <a class="recipe hide-mobile" href="../pages/lasagna-bolognese.html">Recipe of the Day</a>
    <a class="contact hide-mobile" href="../pages/contact.html">Contact</a>
    <a class="legal hide-mobile" href="../pages/legal-notice.html">Legal Notice</a>
    <a class="about hide-mobile" href="../pages/about-me.html">About Me</a>
  </nav>

  <img onclick="mobile_menu()" class="mobile" src="../assets/img/icons/menu-button.png"/>
  <div class="mobile-div" id="mobile-nav">
    <div class="mobile-content">
      <img onclick="mobile_menu()" class="x" src="../assets/img/icons/x.png"/>
      <a class="start mobil-link" href="../index.html">Home</a>
      <a class="recipe mobil-link" href="../pages/lasagna-bolognese.html">Recipe of the Day</a>
      <a class="contact mobil-link" href="../pages/contact.html">Contact</a>
      <a class="legal mobil-link" href="../pages/legal-notice.html">Legal Notice</a>
      <a class="about mobil-link" href="../pages/about-me.html">About Me</a>
    </div>
  </div>
</div>

<script src="../js/header.js"></script>
